SshClient supports X11 forwarding

### Description

Currently, `SshClient` does not support X11 forwarding, but `SshServer` seems to.

### Motivation

X11 forwarding

### Alternatives considered

_No response_

### Additional context

_No response_

What exactly do you mean? X11 forwarding from a server to a client should work (client opens an interactive session at the server, then requests X11 forwarding, the server then opens an X11 channel). X11 forwarding from a client to a server should never be allowed.

X11 forwarding is a feature of interactive sessions, but clients should never allow the server to open an interactive session per [RFC 4254, section 6.1](https://datatracker.ietf.org/doc/html/rfc4254#section-6.1).

Hi, @tomaswolf 

I can enable X11 forwarding via [JSch](https://github.com/mwiede/jsch) like this: [X11Forwarding#L47](https://github.com/mwiede/jsch/blob/e3f8a4a789de3a646c73234e4c08aac120bfa307/examples/X11Forwarding.java#L47)

But how can I do something similar with mina-sshd's `SshClient`?

> Hi, @tomaswolf 
> 
> I can enable X11 forwarding via [JSch](https://github.com/mwiede/jsch) like this: [X11Forwarding#L47](https://github.com/mwiede/jsch/blob/e3f8a4a789de3a646c73234e4c08aac120bfa307/examples/X11Forwarding.java#L47)
> 
> But how can I do something similar with mina-sshd's `SshClient`?

Hi, @tomaswolf 

In the future, are there plans to support it?

Looks like this was never implemented.

PRs welcome. As I don't use this feature myself, investing time to implement it myself is not exactly among my top priorities.

This feature is very important to me, I have submitted a PR, please review it.

兄弟，你是我的神，这就是我一直在找的x11实现，我已经集成了，很好用

> 兄弟，你是我的神，这就是我一直在找的x11实现，我已经集成了，很好用

Hahaha, initially I wanted to integrate X11 into [Termora](https://github.com/TermoraDev/termora), but I couldn't find a corresponding implementation, so I developed one myself.

#716 This is just a simple implementation; the complete X11 standard is very complex.