 server host key algorithms = ssh-rsa but still try to encryp the key using rsa-sha2-512

### Version

2.11.0

### Bug description

Hi @tomaswolf , 

We ran into the following case which seems maybe a wrong handling on server side, but still Apache Mina client behavior seems not ok against that.

The following is negotiated:

Kex: encryption algorithms (server to client) = aes128-ctr
Kex: compression algorithms (server to client) = none
Kex: compression algorithms (client to server) = none
Kex: mac algorithms (server to client) = hmac-sha2-256
Kex: encryption algorithms (client to server) = aes128-ctr
Kex: kex algorithms = curve25519-sha256
Kex: server host key algorithms = ssh-rsa
Kex: mac algorithms (client to server) = hmac-sha2-256

Still I can see in the logs:
processAuthDataRequest(ClientSessionImpl[amadeus@/10.243.2.50:6710])[ssh-connection][publickey] SSH_MSG_USERAUTH_PK_OK type=rsa-sha2-512, fingerprint=SHA256:YNK/48lJZvi8/w2VTwCd4vNYWI0IJod7CDvF+Jc//JE

processAuthDataRequest(ClientSessionImpl[amadeus@/10.243.2.50:6710])[ssh-connection][publickey]: signing with algorithm rsa-sha2-512

Which ends in failure. If not mistaken from the code it seems in the process method we extract the key type from buffer response from server which seems wrong here .... But not sure... 

Then we try to use different algorithm:
send SSH_MSG_USERAUTH_REQUEST request publickey type=**rsa-sha2-256** - fingerprint=SHA256:YNK/48lJZvi8/w2VTwCd4vNYWI0IJod7CDvF+Jc//JE

send SSH_MSG_USERAUTH_REQUEST request publickey type=**ssh-rsa** - fingerprint=SHA256:YNK/48lJZvi8/w2VTwCd4vNYWI0IJod7CDvF+Jc//JE

But still it fails and I do not see anymore the signing part done...

I can successully connect howver forsing the server algorithm to ssh-rsa:

````java
session.setSignatureFactoriesNameList("ssh-rsa");
````





### Actual behavior

Fail to authenticate to server

### Expected behavior

Use relevant algorithm

### Relevant log output

```Shell
https://unified.loggingfacility.amadeus.com/#/log-viewer/search-id/890181042561045//

2024/07/16 05:36:14.003000 disapp04 DDS_UDD#0-0 APP WARNG

<o.a.s.c.i.n.Nio2Session#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-resume-thread-1] {} Creating IoSession on /172.25.63.181:45916 from /10.243.2.50:6710 via null
2024/07/16 05:36:14.884000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-resume-thread-1] {} Client session created: Nio2Session[local=/172.25.63.181:45916, remote=/10.243.2.50:6710]
2024/07/16 05:36:14.886000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientUserAuthService#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-resume-thread-1] {} ClientUserAuthService(ClientSessionImpl[null@/10.243.2.50:6710]) client methods: [publickey, keyboard-interactive, password]
2024/07/16 05:36:14.891000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.h.SessionTimeoutListener#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-resume-thread-1] {} sessionCreated(ClientSessionImpl[null@/10.243.2.50:6710]) tracking
2024/07/16 05:36:14.891000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-resume-thread-1] {} initializeProxyConnector(ClientSessionImpl[null@/10.243.2.50:6710]) no proxy to initialize
2024/07/16 05:36:14.895000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.i.n.Nio2Session#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-resume-thread-1] {} writeBuffer(Nio2Session[local=/172.25.63.181:45916, remote=/10.243.2.50:6710]) writing 28 bytes
2024/07/16 05:36:14.895000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-resume-thread-1] {} sendIdentification(ClientSessionImpl[null@/10.243.2.50:6710]): SSH-2.0-APACHE-SSHD-2.11.0
2024/07/16 05:36:14.897000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-resume-thread-1] {} sendKexInit(ClientSessionImpl[null@/10.243.2.50:6710]) Send SSH_MSG_KEXINIT
2024/07/16 05:36:14.905000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-resume-thread-1] {} encode(ClientSessionImpl[null@/10.243.2.50:6710]) packet #0 sending command=20[SSH_MSG_KEXINIT] len=1244
2024/07/16 05:36:14.905000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.i.n.Nio2Session#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-resume-thread-1] {} writeBuffer(Nio2Session[local=/172.25.63.181:45916, remote=/10.243.2.50:6710]) writing 1264 bytes
2024/07/16 05:36:14.908000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.SshClient#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-resume-thread-1] {} setupDefaultSessionIdentities(ClientSessionImpl[amadeus@/10.243.2.50:6710]) key identity provider override in session listener
2024/07/16 05:36:14.910000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.f.DefaultConnectFuture#0 TID#00000> genericLoop [http-nio-30200-exec-1] {CORR_ID=4c7cd49f-c625-4beb-86e0-949e8bc599c6} Connected to /10.243.2.50:6710 after 90437594 nanos
2024/07/16 05:36:14.912000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-3] {} doReadIdentification(ClientSessionImpl[amadeus@/10.243.2.50:6710]) line='SSH-2.0-XFB.Gateway Unix'
2024/07/16 05:36:14.912000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-3] {} readIdentification(ClientSessionImpl[amadeus@/10.243.2.50:6710]) Server version string: SSH-2.0-XFB.Gateway Unix
2024/07/16 05:36:14.944000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-4] {} doHandleMessage(ClientSessionImpl[amadeus@/10.243.2.50:6710]) process #0 SSH_MSG_KEXINIT
2024/07/16 05:36:14.944000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-4] {} handleKexInit(ClientSessionImpl[amadeus@/10.243.2.50:6710]) SSH_MSG_KEXINIT
2024/07/16 05:36:14.950000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-4] {} setNegotiationResult(ClientSessionImpl[amadeus@/10.243.2.50:6710]) Kex: encryption algorithms (server to client) = aes128-ctr
2024/07/16 05:36:14.950000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-4] {} setNegotiationResult(ClientSessionImpl[amadeus@/10.243.2.50:6710]) Kex: compression algorithms (server to client) = none
2024/07/16 05:36:14.950000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-4] {} setNegotiationResult(ClientSessionImpl[amadeus@/10.243.2.50:6710]) Kex: compression algorithms (client to server) = none
2024/07/16 05:36:14.950000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-4] {} setNegotiationResult(ClientSessionImpl[amadeus@/10.243.2.50:6710]) Kex: mac algorithms (server to client) = hmac-sha2-256
2024/07/16 05:36:14.950000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-4] {} setNegotiationResult(ClientSessionImpl[amadeus@/10.243.2.50:6710]) Kex: encryption algorithms (client to server) = aes128-ctr
2024/07/16 05:36:14.950000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-4] {} setNegotiationResult(ClientSessionImpl[amadeus@/10.243.2.50:6710]) Kex: kex algorithms = curve25519-sha256
2024/07/16 05:36:14.950000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-4] {} setNegotiationResult(ClientSessionImpl[amadeus@/10.243.2.50:6710]) Kex: server host key algorithms = ssh-rsa
2024/07/16 05:36:14.950000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-4] {} setNegotiationResult(ClientSessionImpl[amadeus@/10.243.2.50:6710]) Kex: mac algorithms (client to server) = hmac-sha2-256
2024/07/16 05:36:14.973000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-4] {} encode(ClientSessionImpl[amadeus@/10.243.2.50:6710]) packet #1 sending command=30[30] len=37
2024/07/16 05:36:14.973000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.i.n.Nio2Session#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-4] {} writeBuffer(Nio2Session[local=/172.25.63.181:45916, remote=/10.243.2.50:6710]) writing 56 bytes
2024/07/16 05:36:14.973000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.k.DHGClient#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-4] {} init(DHGClient[curve25519-sha256])[ClientSessionImpl[amadeus@/10.243.2.50:6710]] Send SSH_MSG_KEXDH_INIT
2024/07/16 05:36:15.078000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.k.DHGClient#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-5] {} next(DHGClient[curve25519-sha256])[ClientSessionImpl[amadeus@/10.243.2.50:6710]] process command=SSH_MSG_KEXDH_REPLY
2024/07/16 05:36:15.078000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-5] {} doHandleMessage(ClientSessionImpl[amadeus@/10.243.2.50:6710]) process #1 31
2024/07/16 05:36:15.088000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-5] {} setServerKey(ClientSessionImpl[amadeus@/10.243.2.50:6710]) keyType=ssh-rsa, digest=SHA256:waSLHkyWs+zjqmZdDDRwgSnMedtiyfa6VuOHPGnlLbE
2024/07/16 05:36:15.088000 disapp01 DDS_UDD#0-0 APP WARN
<o.a.s.c.k.AcceptAllServerKeyVerifier#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-5] {} Server at /10.243.2.50:6710 presented unverified RSA key: SHA256:waSLHkyWs+zjqmZdDDRwgSnMedtiyfa6VuOHPGnlLbE
2024/07/16 05:36:15.088000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-5] {} handleKexMessage(ClientSessionImpl[amadeus@/10.243.2.50:6710])[curve25519-sha256] KEX processing complete after cmd=31
2024/07/16 05:36:15.089000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-5] {} sendNewKeys(ClientSessionImpl[amadeus@/10.243.2.50:6710]) Send SSH_MSG_NEWKEYS
2024/07/16 05:36:15.089000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-5] {} checkKeys(ClientSessionImpl[amadeus@/10.243.2.50:6710]) key=ssh-rsa-SHA256:waSLHkyWs+zjqmZdDDRwgSnMedtiyfa6VuOHPGnlLbE, verified=true
2024/07/16 05:36:15.089000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-5] {} prepareNewKeys(ClientSessionImpl[amadeus@/10.243.2.50:6710]) session ID=df:c2:4d:c0:cb:51:e5:c5:14:96:6a:b8:9e:6e:91:9e:49:73:8a:bd:00:61:02:57:fa:09:f3:91:25:92:25:05
2024/07/16 05:36:15.098000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-5] {} encode(ClientSessionImpl[amadeus@/10.243.2.50:6710]) packet #2 sending command=21[SSH_MSG_NEWKEYS] len=1
2024/07/16 05:36:15.098000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.i.n.Nio2Session#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-5] {} writeBuffer(Nio2Session[local=/172.25.63.181:45916, remote=/10.243.2.50:6710]) writing 16 bytes
2024/07/16 05:36:15.122000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-5] {} setOutputEncoding(ClientSessionImpl[amadeus@/10.243.2.50:6710]): cipher BaseCipher[AES, ivSize=16, kdfSize=16,AES/CTR/NoPadding, blkSize=16]; mac BaseMac[HmacSHA256] -  block=32/32 bytes, encrypt-then-mac=false; compression none[Deflater/-1]; blocks limit 134217728
2024/07/16 05:36:15.124000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-5] {} sendInitialServiceRequest(ClientSessionImpl[amadeus@/10.243.2.50:6710]) Send SSH_MSG_SERVICE_REQUEST for ssh-userauth
2024/07/16 05:36:15.124000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.i.n.Nio2Session#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-5] {} writeBuffer(Nio2Session[local=/172.25.63.181:45916, remote=/10.243.2.50:6710]) writing 80 bytes
2024/07/16 05:36:15.124000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-5] {} encode(ClientSessionImpl[amadeus@/10.243.2.50:6710]) packet #3 sending command=5[SSH_MSG_SERVICE_REQUEST] len=17
2024/07/16 05:36:15.124000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-5] {} handleNewKeys(ClientSessionImpl[amadeus@/10.243.2.50:6710]) SSH_MSG_NEWKEYS command=SSH_MSG_NEWKEYS
2024/07/16 05:36:15.124000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-5] {} setInputEncoding(ClientSessionImpl[amadeus@/10.243.2.50:6710]): cipher BaseCipher[AES, ivSize=16, kdfSize=16,AES/CTR/NoPadding, blkSize=16]; mac BaseMac[HmacSHA256] -  block=32/32 bytes, encrypt-then-mac=false; compression none[Inflater/-1]; blocks limit 4294967296
2024/07/16 05:36:15.124000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-5] {} doHandleMessage(ClientSessionImpl[amadeus@/10.243.2.50:6710]) process #2 SSH_MSG_NEWKEYS
2024/07/16 05:36:15.124000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-5] {} handleNewKeys(ClientSessionImpl[amadeus@/10.243.2.50:6710]) No pending packets to flush at end of KEX
2024/07/16 05:36:15.125000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.i.n.Nio2Session#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-5] {} writeBuffer(Nio2Session[local=/172.25.63.181:45916, remote=/10.243.2.50:6710]) writing 96 bytes
2024/07/16 05:36:15.125000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientUserAuthService#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-5] {} auth(ClientSessionImpl[amadeus@/10.243.2.50:6710])[ssh-connection] send SSH_MSG_USERAUTH_REQUEST for 'none'
2024/07/16 05:36:15.125000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-5] {} encode(ClientSessionImpl[amadeus@/10.243.2.50:6710]) packet #4 sending command=50[SSH_MSG_USERAUTH_REQUEST] len=38
2024/07/16 05:36:15.230000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-6] {} handleServiceAccept(ClientSessionImpl[amadeus@/10.243.2.50:6710]) SSH_MSG_SERVICE_ACCEPT service=ssh-userauth
2024/07/16 05:36:15.230000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-6] {} doHandleMessage(ClientSessionImpl[amadeus@/10.243.2.50:6710]) process #4 SSH_MSG_USERAUTH_FAILURE
2024/07/16 05:36:15.230000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-6] {} doHandleMessage(ClientSessionImpl[amadeus@/10.243.2.50:6710]) process #3 SSH_MSG_SERVICE_ACCEPT
2024/07/16 05:36:15.231000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientUserAuthService#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-6] {} tryNext(ClientSessionImpl[amadeus@/10.243.2.50:6710]) attempting method=publickey
2024/07/16 05:36:15.231000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientUserAuthService#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-6] {} tryNext(ClientSessionImpl[amadeus@/10.243.2.50:6710]) starting authentication mechanisms: client=[publickey, keyboard-interactive, password], server=[password, publickey]
2024/07/16 05:36:15.231000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientUserAuthService#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-6] {} processUserAuth(ClientSessionImpl[amadeus@/10.243.2.50:6710]) Received SSH_MSG_USERAUTH_FAILURE - partial=false, methods=password,publickey
2024/07/16 05:36:15.237000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.a.p.UserAuthPublicKey#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-6] {} sendAuthDataRequest(ClientSessionImpl[amadeus@/10.243.2.50:6710])[ssh-connection] send SSH_MSG_USERAUTH_REQUEST request publickey type=rsa-sha2-512 - fingerprint=SHA256:YNK/48lJZvi8/w2VTwCd4vNYWI0IJod7CDvF+Jc//JE
2024/07/16 05:36:15.237000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-6] {} encode(ClientSessionImpl[amadeus@/10.243.2.50:6710]) packet #5 sending command=50[SSH_MSG_USERAUTH_REQUEST] len=341
2024/07/16 05:36:15.237000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.i.n.Nio2Session#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-6] {} writeBuffer(Nio2Session[local=/172.25.63.181:45916, remote=/10.243.2.50:6710]) writing 400 bytes
2024/07/16 05:36:15.238000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientUserAuthService#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-6] {} tryNext(ClientSessionImpl[amadeus@/10.243.2.50:6710]) successfully processed initial buffer by method=publickey
2024/07/16 05:36:15.284000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientUserAuthService#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-7] {} processUserAuth(ClientSessionImpl[amadeus@/10.243.2.50:6710]) delegate processing of 60 to publickey
2024/07/16 05:36:15.284000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-7] {} doHandleMessage(ClientSessionImpl[amadeus@/10.243.2.50:6710]) process #5 60
2024/07/16 05:36:15.285000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.a.p.UserAuthPublicKey#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-7] {} processAuthDataRequest(ClientSessionImpl[amadeus@/10.243.2.50:6710])[ssh-connection][publickey]: signing with algorithm rsa-sha2-512



2024/07/16 05:36:15.285000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.a.p.UserAuthPublicKey#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-7] {} processAuthDataRequest(ClientSessionImpl[amadeus@/10.243.2.50:6710])[ssh-connection][publickey] SSH_MSG_USERAUTH_PK_OK type=rsa-sha2-512, fingerprint=SHA256:YNK/48lJZvi8/w2VTwCd4vNYWI0IJod7CDvF+Jc//JE
2024/07/16 05:36:15.295000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-7] {} encode(ClientSessionImpl[amadeus@/10.243.2.50:6710]) packet #6 sending command=50[SSH_MSG_USERAUTH_REQUEST] len=621
2024/07/16 05:36:15.296000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.i.n.Nio2Session#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-7] {} writeBuffer(Nio2Session[local=/172.25.63.181:45916, remote=/10.243.2.50:6710]) writing 688 bytes
2024/07/16 05:36:15.344000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-8] {} doHandleMessage(ClientSessionImpl[amadeus@/10.243.2.50:6710]) process #6 SSH_MSG_USERAUTH_FAILURE
2024/07/16 05:36:15.344000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.i.n.Nio2Session#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-8] {} writeBuffer(Nio2Session[local=/172.25.63.181:45916, remote=/10.243.2.50:6710]) writing 400 bytes
2024/07/16 05:36:15.344000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-8] {} encode(ClientSessionImpl[amadeus@/10.243.2.50:6710]) packet #7 sending command=50[SSH_MSG_USERAUTH_REQUEST] len=341
2024/07/16 05:36:15.344000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientUserAuthService#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-8] {} processUserAuth(ClientSessionImpl[amadeus@/10.243.2.50:6710]) Received SSH_MSG_USERAUTH_FAILURE - partial=false, methods=password
2024/07/16 05:36:15.344000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.a.p.UserAuthPublicKey#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-8] {} sendAuthDataRequest(ClientSessionImpl[amadeus@/10.243.2.50:6710])[ssh-connection] send SSH_MSG_USERAUTH_REQUEST request publickey type=rsa-sha2-256 - fingerprint=SHA256:YNK/48lJZvi8/w2VTwCd4vNYWI0IJod7CDvF+Jc//JE
2024/07/16 05:36:15.345000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientUserAuthService#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-8] {} tryNext(ClientSessionImpl[amadeus@/10.243.2.50:6710]) successfully processed initial buffer by method=publickey
2024/07/16 05:36:15.391000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientUserAuthService#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-9] {} processUserAuth(ClientSessionImpl[amadeus@/10.243.2.50:6710]) Received SSH_MSG_USERAUTH_FAILURE - partial=false, methods=password
2024/07/16 05:36:15.391000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.a.p.UserAuthPublicKey#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-9] {} sendAuthDataRequest(ClientSessionImpl[amadeus@/10.243.2.50:6710])[ssh-connection] send SSH_MSG_USERAUTH_REQUEST request publickey type=ssh-rsa - fingerprint=SHA256:YNK/48lJZvi8/w2VTwCd4vNYWI0IJod7CDvF+Jc//JE
2024/07/16 05:36:15.391000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-9] {} doHandleMessage(ClientSessionImpl[amadeus@/10.243.2.50:6710]) process #7 SSH_MSG_USERAUTH_FAILURE
2024/07/16 05:36:15.392000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientUserAuthService#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-9] {} tryNext(ClientSessionImpl[amadeus@/10.243.2.50:6710]) successfully processed initial buffer by method=publickey
2024/07/16 05:36:15.392000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-9] {} encode(ClientSessionImpl[amadeus@/10.243.2.50:6710]) packet #8 sending command=50[SSH_MSG_USERAUTH_REQUEST] len=336
2024/07/16 05:36:15.392000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.i.n.Nio2Session#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-9] {} writeBuffer(Nio2Session[local=/172.25.63.181:45916, remote=/10.243.2.50:6710]) writing 400 bytes
2024/07/16 05:36:15.413000 disapp01 DDS_UDD#0-0 APP WARN
<o.a.s.c.k.AcceptAllServerKeyVerifier#0 TID#00000> DDPLoop [sshd-SshClient[1a99744a]-nio2-thread-20] {} Server at /192.102.253.24:22 presented unverified EC key: SHA256:8moyEtOP764Y8jU+oUT9zZ65DbIqcm4iCCv/i5vL9AY
2024/07/16 05:36:15.438000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientUserAuthService#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-10] {} processUserAuth(ClientSessionImpl[amadeus@/10.243.2.50:6710]) Received SSH_MSG_USERAUTH_FAILURE - partial=false, methods=password
2024/07/16 05:36:15.438000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-10] {} doHandleMessage(ClientSessionImpl[amadeus@/10.243.2.50:6710]) process #8 SSH_MSG_USERAUTH_FAILURE
2024/07/16 05:36:15.439000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.a.p.UserAuthPublicKey#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-10] {} resolveAttemptedPublicKeyIdentity(ClientSessionImpl[amadeus@/10.243.2.50:6710])[ssh-connection] no more keys to send
2024/07/16 05:36:15.439000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.a.p.UserAuthPublicKey#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-10] {} destroy(ClientSessionImpl[amadeus@/10.243.2.50:6710])[ssh-connection]
2024/07/16 05:36:15.439000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientUserAuthService#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-10] {} tryNext(ClientSessionImpl[amadeus@/10.243.2.50:6710]) no initial request sent by method=publickey
2024/07/16 05:36:15.440000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientUserAuthService#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-10] {} tryNext(ClientSessionImpl[amadeus@/10.243.2.50:6710]) attempting method=password
2024/07/16 05:36:15.441000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.a.p.UserAuthPassword#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-10] {} resolveAttemptedPassword(ClientSessionImpl[amadeus@/10.243.2.50:6710])[ssh-connection] no more passwords to send
2024/07/16 05:36:15.442000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientUserAuthService#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-10] {} tryNext(ClientSessionImpl[amadeus@/10.243.2.50:6710]) no initial request sent by method=password
2024/07/16 05:36:15.442000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientUserAuthService#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-10] {} tryNext(ClientSessionImpl[amadeus@/10.243.2.50:6710]) exhausted all methods - client=[publickey, keyboard-interactive, password], server=[password, publickey]
2024/07/16 05:36:15.442000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.a.p.UserAuthPassword#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-10] {} destroy(ClientSessionImpl[amadeus@/10.243.2.50:6710])[ssh-connection]
2024/07/16 05:36:15.443000 disapp01 DDS_UDD#0-0 APP WARN
```


### Other information

_No response_

The key exchange worked and did use a ssh-rsa signature. It's the public key authentication that then uses rsa-sha-512 by default first. Apparently the server is configured with [MaxAuthTries](https://man.openbsd.org/sshd_config#MaxAuthTries) = 1.

Apache MINA sshd takes advantage of:

> When the new rsa-sha2-* algorithms have been sufficiently widely adopted to warrant disabling "ssh-rsa", clients MAY default to one of the new algorithms. [RFC 8332, section 3.3](https://datatracker.ietf.org/doc/html/rfc8332#section-3.3)

which apparently doesn't work with this server. (We try first rsa-sha2-512, and if that fails rsa-sha2-256, then ssh-rsa. But if the server allows less than 3 authentication attempts, this will fail.)

This should probably be done more conservatively. We can change that so that we include the signature negotiated for the host key into consideration for RSA user keys:
1. if we did get a "server-sig-algs" extension message, start with the strongest algorithm mentioned there,
2. otherwise start with the signature algorithm negotiated for the host key, if it is an RSA signature,
3. otherwise, proceed as currently: start with rsa-sha2-512, then try rsa-sha2-256, then try ssh-rsa.

Point (2) would be new, and is based on the assumption that a server that does support rsa-sha2* and does not implement the server-sig-algs extension is unlikely to be configured to use ssh-rsa for the host key exchange, but then accept (only) rsa-sha2* for the public key authentication. OTOH an old server that knows only ssh-rsa also won't send server-sig-algs, and thus using the host key signature algorithm ssh-rsa for the public key authentication will be fine.

BTW: the server is XFB.Gateway. I'm surprised it doesn't support modern signature algorithms. Using the old SHA1-based ssh-rsa signatures is a security risk. The vendor suggests upgrading: https://blog.axway.com/product-insights/managed-file-transfer/migrate-xfb-gateway-to-axway-mft.

Actually, I remember now that we ran into this long ago in JGit already. The approach taken there was simply "if you need to connect with RSA keys to legacy servers that don't support rsa-sha2*, then define "ssh-rsa" explicitly as signature algorithm to be used for connections to that server". Plus JGit implemented the SSH config [PubkeyAcceptedAlgorithms](https://man.openbsd.org/ssh_config#PubkeyAcceptedAlgorithms) to make easy for users to do so.

That's perhaps an even better approach. Using the negotiated host key signature type would only work if the host key was also an RSA key.

In other words: everything works as designed; configure "ssh-rsa" explicitly to connect to such legacy servers.

Another approach is not to take advantage of the quoted permission from RFC8332 and _always_ fall back to the unsafe "ssh-rsa" unless the server sent a "server-sig-algs" extension message with the rsa-sha2* signatures mentioned.

Thanks a lot @tomaswolf ... and for me to understand, sorry for that, 
From the code logging: 
processAuthDataRequest(ClientSessionImpl[amadeus@/10.243.2.50:6710])[ssh-connection][publickey] SSH_MSG_USERAUTH_PK_OK type=rsa-sha2-512

It seems that the type is extracted from something sent by the server, am I wrong ?

Also I am not technical enough yet about sftp protocol, to understand the diff between the keys in your sentence:

"The key exchange worked and did use a ssh-rsa signature. It's the public key authentication that then uses rsa-sha-512 by default first."

I am not clear the difference between the protocol returned in :
"server host key algorithms = ssh-rsa"

And the protocol used for the signature... The one used for signature is to authenticate with OUR key, while the one returned by the server is for the server public key?

Sorry I am confused ... And thanks for your prompt replies!

Sorry.

I completely missed that the log indeed has a SSH_MSG_USERAUTH_PK_OK reply from the server.

Your log is hard to understand; apparently lines with the same time stamp are not always being printed in the right order. I see several lines with the same timestamps and from a single thread that simply cannot ever have been produced in the order shown; for instance
```
2024/07/16 05:36:15.285000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.a.p.UserAuthPublicKey#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-7] {} processAuthDataRequest(ClientSessionImpl[amadeus@/10.243.2.50:6710])[ssh-connection][publickey]: signing with algorithm rsa-sha2-512



2024/07/16 05:36:15.285000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.a.p.UserAuthPublicKey#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-7] {} processAuthDataRequest(ClientSessionImpl[amadeus@/10.243.2.50:6710])[ssh-connection][publickey] SSH_MSG_USERAUTH_PK_OK type=rsa-sha2-512, fingerprint=SHA256:YNK/48lJZvi8/w2VTwCd4vNYWI0IJod7CDvF+Jc//JE
```
This is just impossible. When the code that produces these lines (both from the same thread!), we will _always_ log first "SSH_MSG_USERAUTH_PK_OK type=rsa-sha2-512, fingerprint=..." and _then_ "signing with algorithm rsa-sha2-512".

Assuming that is is an artifact of whatever logging system you used, the log shows a server bug. Let's go step by step:
```
2024/07/16 05:36:15.237000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.a.p.UserAuthPublicKey#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-6] {} sendAuthDataRequest(ClientSessionImpl[amadeus@/10.243.2.50:6710])[ssh-connection] send SSH_MSG_USERAUTH_REQUEST request publickey type=rsa-sha2-512 - fingerprint=SHA256:YNK/48lJZvi8/w2VTwCd4vNYWI0IJod7CDvF+Jc//JE
```
The client asks the server "if I authenticated with the public key that has the fingerprint SHA256:YNK/48lJZvi8/w2VTwCd4vNYWI0IJod7CDvF+Jc//JE and a rsa-sha2-512 signature, would you accept the authentication?"
```
2024/07/16 05:36:15.285000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.a.p.UserAuthPublicKey#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-7] {} processAuthDataRequest(ClientSessionImpl[amadeus@/10.243.2.50:6710])[ssh-connection][publickey] SSH_MSG_USERAUTH_PK_OK type=rsa-sha2-512, fingerprint=SHA256:YNK/48lJZvi8/w2VTwCd4vNYWI0IJod7CDvF+Jc//JE
```
The server says yes.
```
2024/07/16 05:36:15.285000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.a.p.UserAuthPublicKey#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-7] {} processAuthDataRequest(ClientSessionImpl[amadeus@/10.243.2.50:6710])[ssh-connection][publickey]: signing with algorithm rsa-sha2-512
2024/07/16 05:36:15.295000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-7] {} encode(ClientSessionImpl[amadeus@/10.243.2.50:6710]) packet #6 sending command=50[SSH_MSG_USERAUTH_REQUEST] len=621
```
The client puts together the authentication request with that key and an rsa-sha2-512 signature and sends it.
```
2024/07/16 05:36:15.344000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientSessionImpl#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-8] {} doHandleMessage(ClientSessionImpl[amadeus@/10.243.2.50:6710]) process #6 SSH_MSG_USERAUTH_FAILURE
```
The server refuses the authentication. Even though it had said it would in it's SSH_MSG_USERAUTH_PK_OK message before! **That seems to be server bug?**
```
2024/07/16 05:36:15.344000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.s.ClientUserAuthService#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-8] {} processUserAuth(ClientSessionImpl[amadeus@/10.243.2.50:6710]) Received SSH_MSG_USERAUTH_FAILURE - partial=false, methods=password
```
In its refusal, the server tells the client "do not try pubkey authentication anymore, you may still try password authentication".
```
2024/07/16 05:36:15.344000 disapp01 DDS_UDD#0-0 APP DEBUG
<o.a.s.c.a.p.UserAuthPublicKey#0 TID#00000> genericLoop [sshd-SshClient[36ae17ef]-nio2-thread-8] {} sendAuthDataRequest(ClientSessionImpl[amadeus@/10.243.2.50:6710])[ssh-connection] send SSH_MSG_USERAUTH_REQUEST request publickey type=rsa-sha2-256 - fingerprint=SHA256:YNK/48lJZvi8/w2VTwCd4vNYWI0IJod7CDvF+Jc//JE
```
The client ignores this and tries the same public key again with an rsa-sha2-256 signature. **That's a client bug**; it should not have continued with public-key authentication.

But your real problem is that the server first says it would accept the key with a rsa-sha2-512 signature, but then it doesn't. There is not much we can do about this; your really only option is to force "ssh-rsa" for connecting to such a server.

> That's a client bug; it should not have continued with public-key authentication.

Split to #533.

Closing this. We cannot do anything about this XFB.Gateway. It appears not to check the announced signature type in the pre-auth request; it only looks whether it knows the announced public key. (Kind of understandable: if that server was written before the SHA2 signature types for RSA were introduced, there was a 1-to-1 relation between key types and signature types. Still, they should have checked that they also know the signature type.)

The only way to deal with this is to force ssh-rsa signatures in the client, either programmatically or by setting up the host entry in the SSH config accordingly.

The other issue with our client (continuing with publickey even though the server said not to) has been split off and will be solved in issue #533.

Thanks a lot @tomaswolf  for all the feedback and reactivity. I have forced the rsa signature on our side to indeed cope with the issue.